<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="startGrid" value="5"/>
    <add key="poolingCnt" value="6"/>
    <add key="volumeUL" value="50"/>
    <add key="dstLabware" value="dst1"/>
    <add key="posIDFile" value="C:\posID\scan.csv"/>
  </appSettings>
</configuration>