<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="startGrid" value="5"/>
    <add key="poolingCnt" value="6"/>
    <add key="volumeUL" value="160"/>
    <add key="ditiType" value="200"/>
    <add key="reagentVolume" value="10"/>
    <add key="bufferTubeCnt" value="4"/>
    <add key="dstLabware" value="dst1"/>
    <add key="dstLabware2" value="dst2"/>
    <add key="negtiveLabware" value="neg"/>
    <add key="negtiveStartWell" value="1"/>
    <add key="posIDFile" value="C:\posID\scan.csv"/>
  </appSettings>
</configuration>